* {
    margin: 0;
    padding: 0;
	text-decoration: none;
}

.landingContainer {
	background: url('../../components/img/wp8797805.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
	/* width: 100vmax; */
	height: 100vh;
}

.landingTittle {
	margin-top: 30px;
	font-size: 80px;
	color: rgb(57, 56, 55);
}

.landingButton {
	margin-top: 150px;
	width: 160px;
	height: 60px;
	font-size: large;
	font-weight: bold;
	color: rgb(255, 203, 5);
	background-color: rgb(45, 111, 182);
	border-radius: 20px;
	cursor: pointer;
}
