.createContainer {
	background: url('../../components//img/hv.png') no-repeat center center fixed;
	background-size: 30%;
	width: 100%;
	height: 100vh;
	background-color: white;
}

.btnReturnCreate {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	font-weight: bold;
	background-color: yellow;
	text-decoration: none;
	border: solid red 2px;
	border-radius: 8px;
	cursor: pointer;
}

.submitBtnCreate {
	margin-left: 150px;
	width: 90px;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
}

.submitBtnCreate:hover {
	background-color: red;
	color: white;
}

.formCreate {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	margin-left: 50px;
}

.CreateTitle {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 50px;
	width: 500px;
	background: linear-gradient(red, yellow);
}

.FormName {
	margin-bottom: 15px;
	margin-left: 25px;
}

.formImg {
	margin-bottom: 15px;
	margin-left: 20px;
}
.formHp {
	margin-bottom: 15px;
	margin-left: 52px;
}
.formAtk {
	margin-bottom: 15px;
	margin-left: 20px;
}

.formDef {
	margin-bottom: 15px;
	margin-left: 5px;
}
.formSpeed {
	margin-bottom: 15px;
	margin-left: 25px;
}
.formHeight {
	margin-bottom: 15px;
	margin-left: 20px;
}
.formWeight {
	margin-bottom: 15px;
	margin-left: 15px;
}
.formTypes {
	margin-bottom: 15px;
	margin-left: 25px;
}

.TypesSelected {
	color: white;
	list-style: none;
}

.errorForm {
	color: red;
	font-size: x-small;
	display: inline-flex
	;
	justify-content: space-around;
	margin-left: 10 px;
}

.TypesSelected {
	color: #000;
}

.typesBtn {
	background-color: red;
	border-radius: 100%;
	margin-left: 3px;
}
