.createContainer {
	background: url('../../components/img/egg.png') no-repeat center;
	background-size: 82%;
	width: 100%;
	height: 100vh;
	/* background-color: white; */
}

.formContainer {
	background-color: rgba(134, 139, 131, 0.852);
	border-radius: 20px;
	/* align-items: center; */
	width: 700px;
	height: 500px;
	margin-left: 450px;
}

.btnReturnCreate {
	background-color: rgba(134, 139, 131, 0.852);
	/* display: flex; */
	margin-top: 1%;
	margin-left: 190px;
	/* justify-content: center; */
	/* align-items: center; */
	height: 40px;
	font-weight: bold;
	/* background-color: yellow; */
	/* text-decoration: none; */
	/* border: solid red 2px; */
	border-radius: 10px;
	cursor: pointer;
}

.submitBtnCreate {
	margin-left: 80px;
	width: 100px;
	height: 40px;
	background-color: rgba(134, 139, 131, 0.852);
	border-radius: 10px;
	cursor: pointer;
}

/* .submitBtnCreate:hover {
	background-color: red;
	color: white;
} */

.formCreate {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	margin-top: 30px;
	/* display: flex; */
	flex-direction: column;
	justify-content: space-around;
	/* align-items: flex-start; */
	margin-left: 50px;
}

.CreateTitle {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	margin-top: 30px;
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center; */
	/* align-items: center; */
	margin-left: 20%;
	width: 500px;
	/* background: linear-gradient(red, yellow); */
}

.FormName {
	margin-bottom: 15px;
	margin-left: 25px;
}

.formImg {
	margin-bottom: 15px;
	margin-left: 20px;
}
.formHp {
	margin-bottom: 15px;
	margin-left: 52px;
}
.formAtk {
	margin-bottom: 15px;
	margin-left: 20px;
}

.formDef {
	margin-bottom: 15px;
	margin-left: 5px;
}
.formSpeed {
	margin-bottom: 15px;
	margin-left: 25px;
}
.formHeight {
	margin-bottom: 15px;
	margin-left: 20px;
}
.formWeight {
	margin-bottom: 15px;
	margin-left: 15px;
}
.formTypes {
	margin-bottom: 15px;
	margin-left: 25px;
}

.TypesSelected {
	color: white;
	list-style: none;
}

.errorForm {
	color: red;
	font-size: small;
	display: inline-flex
	;
	/* justify-content: space-around; */
	/* margin-left: 100 px; */
}

.TypesSelected {
	color: #000;
}

.typesBtn {
	width: 20px;
	height: 20px;
	background-color: red;
	border-radius: 100%;
	margin-left: 3px;
}
