.detailsContainer {
	background: url('../../components//img/2Ut5lSVXDr2MvuTNa7VgBqTzap3.jpg');
	background-size: cover;
	height: 100vh;
	/* display: flex; */	
}

.detailsCard {
	display:flex;
	/* margin-left: 250px; */
	margin-top: 30px;
	/* font-size: 1.5em; */
    /* color: rgb(26, 235, 113);  */
    background-color: rgba(134, 139, 131, 0.852);
    justify-content:space-around;
    border-radius: 20px;
    width: 700px;
    margin-left: 25%;
	display: flex;
    /* display: inline; */
}

.detailImg {
	width: 300px;
	height: 300px;
	margin-left: -550px;
	margin-bottom: 100px;
	margin-top: 150px;
}

.detailStats {
	font-size: 1.5em;
	margin-left: -50px;
	margin-top: 150px;
	font-weight: bold;
	/* border: solid 3px black; */
	/* height: 300px; */
	/* width: 300px; */
	/* background-color: antiquewhite; */
	/* border-radius: 20px; */
}

.detailName {
	margin-left: 80px;
	margin-top: 20px;
	/* align-items: center; */
	/* border: solid black 2px; */
	/* height: 80px; */
	/* width: 280px; */
	/* display: flex; */
	/* justify-content: center; */
	/* background-color: antiquewhite; */
	/* border-radius: 18px; */
}

.ulTypes {
	list-style: none;
	/* justify-content: center; */
	/* align-items: center; */
	margin-left: -30px;
}

.loading {
	/* width: 250px ; */
	/* background: url(''); */
	/* border: solid black 3px; */
	/* height: 50px; */
	/* justify-content: center; */
	/* align-items: center; */
	/* background-color: antiquewhite; */
	/* border-radius: 8px; */
	margin-top: 180px;
	/* margin-left: 500px; */
}

.buttonHome {
	background-color: rgba(134, 139, 131, 0.852);
	margin-left: 50%px;
	margin-top: 20px;
	height: 50px;
	width: 80px;
	border-radius: 10px;
	cursor: pointer;
	/* font-size: 1.5em; */
	font-weight: bold;
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
}
