.homeContainer {
	/* color: yellowgreen; */
	background: url('../../components//img/wp8797805.jpg');
	/* background-size: cover; */
	width: 100%;
	height: 350vh;
	background-attachment: fixed;
	background-size:cover;
	/* background-repeat: repeat; */
	/* background-attachment: fixed; */
	/* font-size:medium; */
}

.filterContainer {
	margin-top: 5%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.pageTitle {
	color: transparent;
	border: solid black 5px;
	height: 100px;
	width: 400px;
	margin-left: 55vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 450px;
}

.filterName {
	width: 150px;
	height: 30px;
	cursor: pointer;
	border-radius: 8px;
}
.filterCreated {
	width: 150px;
	height: 30px;
	cursor: pointer;
	border-radius: 8px;
}

.filterType {
	width: 150px;
	height: 30px;
	cursor: pointer;
	border-radius: 8px;
}

.fotohome {
	margin-left: -70%;
	width: 400px;
	height: 150px;
	cursor: pointer;
}

.pokemonCards {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 400 px;
	margin-bottom: 30px;
	margin-top: 30px;
	float: left;
	margin-left: 50px;
	margin-right: 60px;
}

/* .AlphTitle {
	font-weight: bold;
	color: rgb(223, 15, 15);
} */

/* .TypeTitle {
	color: rgb(237, 9, 9);
} */

/* .orderTitle {
	display: flex;
	margin-left: 95vh;
	background-color: rgb(212, 19, 19);
	border-radius: 8px;
	width: 250px;
	margin-top: 50px;
	align-items: center;
	justify-content: center;
} */

.homeLoading {
	/* font-size: xx-large; */
	/* border: black 6px solid; */
	width: 300px;
	margin-left: 500px;
	border-radius: 9px;
	/* background-color: antiquewhite; */
}
