.page-btn {
	background-color: rgba(134, 139, 131, 0.852);
	margin-left: 3%;
	margin-top: 1%;
	width: 80px;
	height: 35px;
	cursor: pointer;
	border-radius: 10px;
	/* border-color: rgb(249, 163, 4); */
	font-weight: bold;
	font-size: large;
}

/* .page-btn:hover {
	background-color: yellow;
	color: black;
} */
/* .page-btn:focus {
	background-color: red;
} */

.page {
	margin-left: 60px;
}
