.navBtn {
	background-color: rgba(134, 139, 131, 0.852);
	width: 250px;
	height: 50px;
	border-radius: 10px;
	display: flex;
	justify-content:center;
	/* position:fixed; */
	align-items: center;
	font-size: medium;
	font-weight: bold;
	cursor: pointer;
	margin-left: 80%;
	margin-top: -6%;
}