.pkmCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 400px;
	margin-left: 50px;
	float: left;
	border: solid rgb(9, 9, 9) 2px;
	border-radius: 30px;
	/* background-color: rgb(189, 30, 30); */
	background: linear-gradient(to bottom, red, rgba(0, 0, 0, 0.903));
	box-shadow: 10px 8px 8px black;
}

.cardImg {
	width: 200px;
	height: 250px;
}

.cardTypes {
	color: white;
}

.cardName {
	color: white;
	font-size: xx-large;
	font-weight: bold;
}

.btnSee {
	margin-bottom: 25px;
	cursor: pointer;
	background-color: transparent;
	color: white;
	border: transparent;
	text-decoration: underline;
}
